<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; FindPro Private Limited</div>
    <div class="f-info-link">
      <a href="/privacay">Privacy</a>
      <a href="/terms" class="ms-3">Terms</a>
      <a href="/contact" class="ms-3">Contact Us</a>
      <a href="/about" class="ms-3">About Us</a>
    </div>
  </div>
</footer>
