<div id="languageSwitcherContainer" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; opacity: 0.8;">
    <div class="dropdown">
        <button class="btn btn-sm btn-light border rounded-circle" type="button" id="langDropdownButton"
            data-bs-toggle="dropdown" aria-expanded="false" title="Select Language"
            style="box-shadow: 0 2px 5px rgba(0,0,0,0.2); width: 40px; height: 40px; padding: 0;">
            <i class="bi bi-translate" style="font-size: 16px;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="langDropdownButton">
            <li>
                <h6 class="dropdown-header">Select Language</h6>
            </li>
            <li><a class="dropdown-item" href="#" data-lang="en">English</a></li>
            <li><a class="dropdown-item" href="#" data-lang="hi">हिन्दी (Hindi)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="bn">বাংলা (Bengali)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="gu">ગુજરાતી (Gujarati)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="mr">मराठी (Marathi)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="ta">தமிழ் (Tamil)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="te">తెలుగు (Telugu)</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" data-lang="pa">ਪੰਜਾਬੀ (Punjabi)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="ml">മലയാളം (Malayalam)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="kn">ಕನ್ನಡ (Kannada)</a></li>
            <li><a class="dropdown-item" href="#" data-lang="ur">اردو (Urdu)</a></li>
        </ul>
    </div>
</div>