<% layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/customerDashboard.css" />

<div class="dashboard-container">
  <!-- Sidebar -->
  <%- include('../components/customerDashboard/customerSidebar') %>

  <!-- Main Content -->
  <div class="main-content">
    <%-include('../components/customerDashboard/bookings') %> <%-
    include('../components/customerDashboard/profile')%> <%-
    include('../components/customerDashboard/settings') %>
  </div>
</div>

<script src="/js/customerDashboard.js"></script>
<script src="/js/sidebarToggle.js"></script>