<% layout("/layouts/boilerplate.ejs") %>

<!-- Hero Section -->
<div class="container-homepage text-center mt-4">
  <h1 class="heading-homepage">Home services at your doorstep</h1>
  <p>What are you looking for?</p>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <a href="/services" class="service-link-homepage">
        <div class="card service-card-homepage">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTINLL7DXqLd10Fr8fvJaVk-1KOt1mxWBBIEw&s"
            class="card-img-top"
            alt="Gardening services"
          />
          <div class="card-body-homepage">
            <h5 class="card-title-homepage mt-4 mb-4">Gardening services</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <a href="/services" class="service-link-homepage">
        <div class="card service-card-homepage">
          <img
            src="https://www.usnews.com/dims4/USNEWS/be2ed29/2147483647/thumbnail/970x647/quality/85/?url=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F97%2Fa9%2F30d751a044c29bb00bead735dee8%2F211005-moving-company-stock-stock.jpg"
            class="card-img-top"
            alt="Moving services"
          />
          <div class="card-body-homepage">
            <h5 class="card-title-homepage mt-4 mb-4">Moving services</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <a href="/services" class="service-link-homepage">
        <div class="card service-card-homepage">
          <img
            src="https://tiimg.tistatic.com/fp/1/007/031/air-conditioner-repair-service-090.jpg"
            class="card-img-top"
            alt="AC & Appliance Repair"
          />
          <div class="card-body-homepage">
            <h5 class="card-title-homepage mt-4 mb-4">AC & Appliance Repair</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
      <a href="/services" class="service-link-homepage">
        <div class="card service-card-homepage">
          <img
            src="https://5.imimg.com/data5/SELLER/Default/2024/3/396137618/NQ/TG/BL/3747135/fungus-pest-control-services-500x500.jpeg"
            class="card-img-top"
            alt="Cleaning & Pest Control"
          />
          <div class="card-body">
            <h5 class="card-title-homepage mt-4 mb-4">
              Cleaning & Pest Control
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Service Cards Section -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card service-card-homepage">
        <img
          src="https://sumesshmenonassociates.com/wp-content/uploads/2021/12/001.jpg"
          class="card-img-top"
          alt="Interior Design"
        />
        <div class="card-body-homepage">
          <h5 class="card-title-homepage mt-3 ms-3">Interior Design</h5>
          <p class="card-text-homepage ms-3">
            Our beauty services are customized to your needs at home.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card service-card-homepage">
        <img
          src="https://digishiftindia.in/wp-content/uploads/2021/02/home-deep-cleaning-services-in-delhi.jpg"
          class="card-img-top"
          alt="Home Cleaning"
        />
        <div class="card-body-homepage">
          <h5 class="card-title-homepage mt-3 ms-3">Home Cleaning</h5>
          <p class="card-text-homepage ms-3">
            Professional home cleaning services for your comfort.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
